<% include partials/header.ejs %>
<!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="assets/img/img/slider-1.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>All You Need</h4>
        <h2>One website a world of education</h2>
        <p>Have you ever felt tired of going around and collecting flyers and bookmarking university websites? <br><span></span><br> We got you covered</p>
        <a href="#" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="assets/img/img/slider-2.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Your Dream Course</h4>
        <h2>Study whatever, whenever</h2>
        <p>Have you ever thought what you could acheive if you could set it up on your own terms? <br> <span></span> <br> We know how it feels</p>
        <a href="#" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="assets/img/img/slider-3.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>No Limits</h4>
        <h2>Education for everyone</h2>
        <p>No matter whether youre looking for your first community college degree or your fifth PhD <br> <span></span> <br> We support all learning</p>
        <a href="#" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->    
  </section>
  <!-- End Slider -->
  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">           
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h2>About Us</h2>              
                  </div>
                  <!-- End Title -->
                  <p>Uni and Me is a website that provides accurate, up-to-date and detailed information about unversities across the globe in one easy and simple to access, online encyclopedia. We have a devoted team of invodulators that monitor the content out website to ensure maximum user utility and experience. Our website provides the following:</p>
                  <ul>
                    <li>University Course Data</li>
                    <li>University Financial Cost Data</li>
                    <li>University Location</li>
                    <li>Useful Blog Posts on University Application</li>
                  </ul>
                  <p>among many other features. If you would like to get notifications about any of our offerings please sign up as we always have new things to share with you.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">                            
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/w-IXajuNAP8?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>               
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us -->

  <!-- Start about us counter -->
  <section id="mu-abtus-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-abtus-counter-area">
            <div class="row">
              <!-- Start counter item -->
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-book"></span>
                  <!-- change-2 - Add relevant icons for each counter -->
                  <!-- Change this to be dynamically altered change-1 -->
                  <h4 class="counter">568</h4>
                  <p>Universities</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-users"></span>
                  <!-- change-2 - Add relevant icons for each counter -->
                  <!-- Change this to be dynamically altered change-1 -->
                  <h4 class="counter">3500</h4>
                  <p>Courses</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-flask"></span>
                  <!-- change-2 - Add relevant icons for each counter -->
                  <!-- Change this to be dynamically altered change-1 -->
                  <h4 class="counter">65</h4>
                  <p>Users</p>
                </div>
              </div>
              <!-- End counter item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us counter -->
  <!-- Start testimonial -->
  <section id="mu-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-testimonial-area">
            <div id="mu-testimonial-slide" class="mu-testimonial-content">
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>İstədiyim universiteti tapıb, və ona daxil olmaq üçün ən vacib olan məlumatı tapdım. Tələbələr üçün həqiqətən də möhtəşəm bir alətdir.</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="assets/img/testimonial-1.png" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>Abdulsalam Şükürov</h4>
                  <span>Happy Student</span>
                </div>
              </div>
              <!-- end testimonial single item -->
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>Oğlum üçün möhtəşəm gələcək əlde eləmək üçün ən vacib məlumat bazası oldu. Universitet axtarışını dəfələrlə asandlaşdırır.</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="assets/img/testimonial-3.png" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>Xəlil Məmmədli</h4>
                  <span>Happy Parent</span>
                </div>
              </div>
              <!-- end testimonial single item -->
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>An incerdible innovation in university applications. No more countless university websites with complicated links and guides.</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="assets/img/testimonial-2.png" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>Kərim Balayev</h4>
                  <span>Happy Student</span>
                </div>
              </div>
              <!-- end testimonial single item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End testimonial -->

  <!-- Start from blog -->
  <section id="mu-from-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-from-blog-area">
            <!-- start title -->
            <div class="mu-title">
              <h2>Recent News</h2>
              <p>We are always aiming to improve our user's experience on our site by providing more and better information.</p>
            </div>
            <!-- end title -->  
            <!-- start from blog content   -->
            <div class="mu-from-blog-content">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="assets/img/img/news-1.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="#">New Features</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">By Admin</a>
                      <a href="#">02 March 2019</a>
                      <span><i class="fa fa-comments-o"></i>87</span>
                    </div>
                    <div class="mu-blog-description">
                      <p>Our development team is currently in discussion with leading universitites in the region to allow our users to directly apply to them through our platform.</p>
                      <a class="mu-read-more-btn" href="#">Read More</a>
                    </div>
                  </article>
                </div>
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="assets/img/img/news-2.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="#">New Universities</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">By Admin</a>
                      <a href="#">14 March 2019</a>
                      <span><i class="fa fa-comments-o"></i>87</span>
                    </div>
                    <div class="mu-blog-description">
                      <p>Top universities in Turkey, UK, USA, France and Germany added to our website. Our collction team is working on dding more universities every day.</p>
                      <a class="mu-read-more-btn" href="#">Read More</a>
                    </div>
                  </article>
                </div>
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="assets/img/img/news-3.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="#">Head Start to Applications</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">By Admin</a>
                      <a href="#">23 February 2019</a>
                      <span><i class="fa fa-comments-o"></i>87</span>
                    </div>
                    <div class="mu-blog-description">
                      <p>With one of the most competitive university application seasons starting its never too early to start prepairing for it. Learn a few tips and tricks that will put you ahead of the curve.</p>
                      <a class="mu-read-more-btn" href="#">Read More</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>     
            <!-- end from blog content   -->   
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End from blog -->

<% include partials/footer.ejs %>