<% include ../partials/header.ejs %>

This is a page for adding new universities to our database.
    <form action="/universities" method="POST">
        <input type="text" name="uni[name]" placeholder="name">
        <input list="countries" name="uni[country]">
            <datalist id="countries">
                <option value="USA">
                <option value="UK">
                <option value="Turkey">
            </datalist>
        <button>Submit</button>
    </form>

<% include ../partials/footer.ejs %>