<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Universities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    This is the Catalogue Page for Universities.
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/universities">Universities</a>
</body>
</html>