<% include ../partials/header.ejs %>

    This is the catalogue page for courses.
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/universities">Universities</a>

<% include ../partials/footer.ejs %>